<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clucks</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light border-line">
        <div class="container-fluid">

            <div class="big-container">
                <a class="child-container navbar-brand" href="/clucks/index">
                    <img src="/image/chicken.png" alt="chicken photo" width="40" height="34">
                </a>
                <div class="small-container">
                    <div>
                        <a class="btn btn-secondary navbar-brand" href="/clucks">Cluck!</a>
                    </div>
                </div>

                <% if (username) {%>
                    <div >
                        <%= username %>
                    </div>
                    <% } %>

                        <!-- <div class="row child-container" id="navbarSupportedContent"> -->

                        <% if (username) {%>
                            <div class="small-container">
                                <form action="/sign_out" method="POST">
                                    <button type="submit" class="btn btn-secondary">Sign Out</button>
                                </form>
                            </div>
                            <% } else {%>
                                <div class="small-container">
                                    <form action="/sign_in" class="d-flex" method="GET">
                                        <button class="w-70 btn btn-secondary" type="submit">Sign in</button>
                                    </form>
                                </div>
                                <% } %>
            </div>
        </div>

    </nav>