<%- include('./partials/header.ejs') %>

<div class="container">
<div class="row" id="navbarSupportedContent">
           
    <% if (username) {%>
        <h3>Hello <%- username %>!</h3>
        <form action="/sign_out" method="POST">
            <button type="submit" class="btn btn-outline-dark">Sign Out</button>
        </form> 
    <% } else  {%> 
    <form action="/sign_in" method="POST">
      <div class="mb-2 mt-2">Username</div>
      
      <input name="username" class="form-control me-2 mb-2" type="text" placeholder="e.g. Madam Welminster" aria-label="Search">
      <div class="d-flex justify-content-end">
      <button class=" w-50 btn btn-outline-success" type="submit">Sign in</button>
      </div>
    </form>
    <% } %> 
  </div>
</div>
</div>
<%- include('./partials/footer.ejs') %>